@{
    ViewData["Title"] = "Home Page";
}
@model List<Rock>

<p>rocks r c00l</p>

<p><a asp-controller="Rock" asp-action="Add">Add a new rock</a></p>

@foreach(var rock in Model) {
    <p>@rock.Name  -   @rock.Color    -   @rock.Shape</p>
}